th, td {
border: 2px solid black;
border-radius: 6px;
border-style: ridge;
height: 25px;
font-family: "Hi Melody", sans-serif;
font-size: 140%;
text-align: center;}

h1 {
font-family: "Hi Melody", sans-serif;
font-size: 250%;
display: flex;
justify-content: center;
align-items: center;}


p1, p {
font-family: "Hi Melody", sans-serif;
font-size: 150%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;}

footer {
font-family: "Hi Melody", sans-serif;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 6%;
align-self: flex-end;
}


table {
display: flex;
justify-content: center;
align-items: center;
}

img {
display: block;
margin-left: auto; 
margin-right: auto;
}

input {
font-family: "Hi Melody", sans-serif;}

a {
font-family: "Hi Melody", sans-serif;
color:rgb(219, 147, 79);}


